/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  background-color: #fff;
  color: #5b5b5b;
  font-family:Avenir Next;
  font-size: 13px;
  line-height: 18px;
  text-align:center;
  height:100%;
  width:100%;
}

#hellobar{
  margin-bottom:0px;
  border-bottom:1px solid #dedede;
  background-color:black;
  padding-top:14px;
  height:38px;
  font-family:Avenir Next;
  font-size:26px;
  color:white;
}
.style_image{
  float:left;
}
#vidthumbnailcontainer:hover{
  color:#5b5b5b;
  background:#def1f8;
}
#container{
  width:100%;
  height:800px;
  text-align:center;
  margin-top:25px;
}
#videoheadline{
  margin-bottom:35px;
}
#footer{
  border-top:1px solid;
  height:auto;
  text-align:center;
  background:#ECF0F1;
}
#vidthumbnailcontainer{
  padding:10px 5px 10px 5px;
  font-size:12px;
  width:30%;
  height:160px;
  float:left;
}
#fbshare{
  background:#3b5998;
  height:30px;
  width:18%;
  border-radius:6px;
  float:left;
  font-size: 18px;
  font-family:Tahoma;
  color:white;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  padding-top:12px;
  margin-right:8px;
}
#twittershare{
  background:#00BEF0;
  height:30px;
  width:18%;
  border-radius:6px;
  float:left;
  font-size: 18px;
  font-family:Tahoma;
  color:white;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  padding-top:12px;
  margin-left:8px;
  
}
#sharemodule{
  margin-left:375px;
  width:100%;
}