<!DOCTYPE html>
<html>
<head>
  <title>Videoapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 
<div id="hellobar">
  <h2> Logo goes here.  style this is app/assets/stylesheets |  Like | search </h2>
  </div>
<%= yield %>

  <div id="fotter" style="background:grey;height:80px;">
    <p> Some footer goes here </p>
  </div>
</body>
</html>