<!DOCTYPE html>
<html>
<head>
  <title>Videoapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 
<div id="hellobar">
  <h2> Chat with a live iPhone expert for $.99 per minute </h2>
  </div>
<%= yield %>

</body>
</html>